{% extends "projectWebApp/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

    <main>

        <div class="container" style="padding: 150px;">
            <div class="align-items-center">
                <div class="col-xxl">
                    <h2 class="text-center">Welcome to</h2>
                    <h1 class="text-center">Market Nigth</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 py-3">
                        <h2 class="fw-semibold lh-1 text-light">Are you sure that you see all the page? <span class="text-info">You can lost a good offer.</span></h2>
                        <br>
                        <p class="text-muted">Today, 16th November, You can found a new flow, a new you, just checkout the offers</p>
                    </div>
                    <div class="col-md-7 py-2">
                        <img src="../../static/ProjectWebApp/img/clouth2.jpg" class="img-fluid mx-auto rounded" width="450px" height="450px" alt="Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 py-3 order-md-2">
                        <h2 class="fw-semibold lh-1">Are you sure that you see all the page? <span class="text-warning">You can lost a good offer.</span></h2>
                        <br>
                        <p class="text-dark">Today, 16th November, You can found a new flow, a new you, just checkout the offers</p>
                    </div>
                    <div class="col-md-7 py-3 order-md-1">
                        <img src="../../static/ProjectWebApp/img/clouth.jpg" class="img-fluid mx-auto rounded" width="450px" height="450px" alt="Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-ligth">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 py-3">
                        <h2 class="fw-semibold lh-1 text-dark">Are you sure that you see all the page? <span class="text-success">You can lost a good offer.</span></h2>
                        <br>
                        <p class="text-muted">Today, 16th November, You can found a new flow, a new you, just checkout the offers</p>
                    </div>
                    <div class="col-md-7 py-3">
                        <img src="../../static/ProjectWebApp/img/clouth3.jpg" class="img-fluid mx-auto rounded" style="width: 400px; height: 400px;" alt="Image">
                    </div>
                </div>
            </div>
        </div>



        <!-- <div class="container px-4 py-3">
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                    <div class="card text-bg-dark">
                        <img src="../../static/ProjectWebApp/img/modelGirl1.jpg" alt="modelGirl1" class="card-img">
                        <div class="card-img-overlay">
                            <h3 class="card-title">Walk with your Flow</h3>
                            <p class="card-text lead"><strong>Contact us, we can sell you this clothes</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-ligth">
                        <img src="../../static/ProjectWebApp/img/modelGirl2.jpg" alt="modelGirl2" class="card-img">
                        <div class="card-img-overlay">
                            <h3 class="card-title">Just be YourSelf</h3>
                            <p class="card-text lead"><strong>What are you waiting for?</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-ligth">
                        <img src="../../static/ProjectWebApp/img/modelMan2.jpg" alt="modelman2" class="card-img">
                        <div class="card-img-overlay">
                            <h3 class="card-title">We are Awesome</h3>
                            <p class="card-text lead"><strong>Dude! look at them <br> We get the attention</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="container text-center w-100 my-md-3">
            <div class="row">
                <div class="col">
                    <div class="mx-auto">
                        <img class="" src="../../static/ProjectWebApp/img/clouth2.jpg" alt="clothes" style="width: 500px;">
                    </div>
                </div>
                <div class="col">
                    <div class="my-5 py-3">
                        <h1 class="display-5">From everywhere of the world</h1>
                        <p class="lead">Come and buy clothes from your favorite place</p>
                    </div>
                </div>
            </div>
        </div> -->
        
    </main>

{% endblock %}